---
import NavItem from "../components/NavItem.astro";
import Page from "../components/Page.astro";
import Carousel from "../components/Carousel.astro";
---

<Page title="Dev Patel Portfolio">

  <h1 data-aos="fade-left">Dev Patel</h1>
  <h1 data-aos="fade-right">Welcome to My Portfolio!</h1>
  
  <h2>About Me</h2>
  <p>Hi, My Name is Dev Patel. I'm 17 and I play soccer and volleyball for the school. I have been going to IACS since sophomore year.</p>
  
  <nav>
    <ul>
      
      <!-- Add more projects here in the future -->
    </ul>
  </nav>

  <Carousel>
    <article>
      <h2>Example 1</h2>
      <figure>
        <NavItem
          title="Binary Search Project"
          link="/projects/binary-search/"
          imageSrc="/images/binary-search.png"
          blurb="Learn about the binary search algorithm and its implementation."
          width="170"
          style="display:block;margin:auto"
        />
      </figure>
    </article>
    <article>
      <h2>Example 2</h2>
      <figure>
        <NavItem
          title="APCSP Portfolio"
          link="/projects/portfolio/"
          imageSrc="/images/portfolio.png"
          blurb="A showcase of all my AP Computer Science Principles projects."
          width="170"
          style="display:block;margin:auto"
        />
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus ut nunc ultricies aliquam.</p>
    </article>
    <article>
      <h2>Example 3</h2>
      <p>https://codepen.io/akkfaqwp-the-styleful/pen/JoPYyKQ</p>
    </article>
  </Carousel>
</Page>

<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://ubiquitous-space-barnacle-x5vw9p57xvx9c6q9v-4321.app.github.dev/">APCSP Portfolio </a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/NRpatel002">Dev Patel</a> is marked with <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a></p>