---
import NavItem from "../components/NavItem.astro";
import Page from "../components/Page.astro";
---
 
<Page title="Dev Patel Portfolio">
  <h1 data-aos="fade-left">
    Dev Patel 
  </h1>
  <h1 data-aos="fade-right">Welcome to My Portfolio!</h1>
  <h2>About Me</h2>
  <p> Hi, My Name is Dev Patel. I'm 17 year old  i play soccer and volleyball for the school.I have been going to iacs seens shomore year
  <ul>
    <NavItem
      title="Binary Search Project"
      link="/projects/binary-search/"
      imageSrc="/images/binary-search.png"
      blurb="Learn about the binary search algorithm and its implementation."
    />

    <NavItem
      title="APCSP Portfolio"
      link="/projects/portfolio/"
      imageSrc="/images/portfolio.png"
      blurb="A showcase of all my AP Computer Science Principles projects."
    />

    <!-- Add more projects here in the future -->
  </ul>
</nav>
  </nav>
  </p>
</Page>
  