---
import Project from "../../components/Project.astro"
---

<Project
  title=" Filtering ?"
  assignment="we had to find a real disese and make a simulation on it  "
>
  <p>(In the first simulation, we created a model to show how a disease spreads through a population, tracking how healthy individuals get infected and potentially die based on infection and death rates. Then, as for the second situation, we added a vaccination option in this model to see how vaccinating individuals can reduce the spread of the disease and lower the number of deaths.)</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/systems-project-disease-modeling-dm/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>

