---
import Project from "../../components/Project.astro"
---

<Project
  title=" Filtering ?"
  assignment="we had to find a real disese and make a simulation on it  "
>
  <p>(My project was super fun, Me and my team worked really hard in and out of school.)</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/systems-project-disease-modeling-dm/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>

