---
import Project from "../../components/Project.astro"
---

<Project
  title=" Filtering ?"
  assignment="Create a program built on the concept of binary search"
>
  <p>(My project was super fun, Me and my team worked really hard in and out of school.)</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/image-filter-project-devandmihir/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>

