---
import Project from "../../components/Project.astro"
---

<Project
  title=" turtle project ?"
  assignment="Create a program built on the concept of binary search"
>
  <p>(My project was super fun, Me and my team worked really hard in and out of school.)</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe height="300" style="width: 100%;" scrolling="no" title="Snowman ?" src="https://codepen.io/akkfaqwp-the-styleful/embed/JoPYyKQ?default-tab=js%2Cresult" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
  See the Pen <a href="https://codepen.io/akkfaqwp-the-styleful/pen/JoPYyKQ">
  Snowman ?</a> by Dev Patel (<a href="https://codepen.io/akkfaqwp-the-styleful">@akkfaqwp-the-styleful</a>)
  on <a href="https://codepen.io">CodePen</a>.
</iframe>

</Project>

