---
import Project from "../../components/Project.astro"
---

<Project
  title=" turtle project ?"
  assignment="Create a program built on the concept of binary search"
>
  <p>(My project was super fun, Me and my team worked really hard in and out of school.)</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="<p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="JoPYyKQ" data-pen-title="Snowman ?" data-user="akkfaqwp-the-styleful" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/akkfaqwp-the-styleful/pen/JoPYyKQ">
  Snowman ?</a> by Dev Patel (<a href="https://codepen.io/akkfaqwp-the-styleful">@akkfaqwp-the-styleful</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://codepen.io/akkfaqwp-the-styleful/pen/JoPYyKQ"></script>" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
